<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DHPJ2534Sharp"  culture="neutral" publicKeyToken="955b7bcc9952f0ac"/>
        <codeBase version="1.0.0.0" href="FILE://C:/Users/adeck/Documents/DHP/DHPJ2534/DHPJ2534Sharp/DHPJ2534Sharp/Debug/DHPJ2534Sharp.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>